<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: head}"></head>

<body>

    <header th:replace="~{fragments/header :: header}"></header>
    
    <div class="container my-5 py-2 px-5" th:if="${game} != false" th:object="${game}">
        <div>
            <div class="d-flex align-items-center">
                <div class="col-8">
                    <div><h2>[[*{title}]]</h2></div>
                    <div class="fs-4">Descrizione: [[*{description}]]</div>
                    <div class="fs-4">Prezzo: €[[*{price}]]</div>

                    <h3>Generi: </h3>
                    <ul th:each="genre : ${game.genres}" th:object="${genre}">
                        <li>[[*{name}]]</li>
                    </ul>
                    
                    <h3>Piattaforme: </h3>
                    <ul th:each="platform : ${game.platforms}" th:object="${platform}">
                        <li>[[*{name}]]</li>
                    </ul>

                </div>

                <div class="col-4 text-end">
                    <!-- <img class="img-fluid" th:src="@{*{photoUrl}}" alt=""> -->
                </div>
            </div>
        </div>
    </div>

</body>
</html>